/*****BASE STYLES*****/

body{
	font-family:'Barlow', sans-serif;
	color: #2b2b2b;
}
#about-page, #work-page {
    background: #e6ece6;
}

/*****GRID*****/

.full-width{
	width: 1200px;
	margin: 0 auto;
    clear: both;
}

.half-width{
	width: 600px;
	float: left;
}

.third-width{
	width: 400px;
	float: left;
}

/*****HOME PAGE*****/

#main-image {
    height: 800px;
    background: url('https://images.pexels.com/photos/947849/pexels-photo-947849.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

header h1 { 
	font-family:'Playfair Display', serif; 
    font-size:30px;
	font-weight: 700;
    color: #4d6149;
    padding: 35px 0 55px 0px;
}

nav {
    float: right; 
    padding: 55px 0 35px 35px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #4a5153;
    padding-left: 70px; 
}

header h2 {
    width: 900px;
    clear: both;
    font-family:'Playfair Display', serif; 
    font-size: 60px;
    line-height: 10px;
    color: #768975;
    padding: 70px 0 0 65px;
}

header h2 span {
    color: #2b2b2b;
}

header h4{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #bb9c43;
}

/*****ABOUT PAGE*****/
#about .full-width {
    padding: 35px 0 80px 0;
    text-align: left;
}

#about-tagline{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
    padding-left: 0;
}

#about p{
	font-size: 20px;
	line-height: 40px;
	padding-right: 50px;
	color: #7f7f7f;
}

footer img{
    vertical-align: middle;
    max-height: 300px;
    padding: 30px 0 30px 450px;

}

/*****WORK*****/
#work{
    color:#4d6149;
    font-family:'Barlow', sans-serif;
    font-size: 24px;
}
#work h3{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 100px 0 100px 0;
    text-align: center;
}

#work h4{
    font-size:24px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

#work img{
    border: 5px solid white;
    height: 350px;
    margin: auto auto 55px 50px;
    width: 450px;
}

#work h5{
    font-size:24px;
    font-weight: normal;
    margin:0;
}
#work p{
    font-size: 24px;
}

/*****CONTACT*****/
#contact .full-width{
    clear: both;
}

#contact img#contact-image {
    margin: 50px auto auto 25px;
    border: 12px solid #ffffff;
	width:517px;
	height:368px;
}

#contact{
    background: #dae6d2;
    text-align: center;
    color:#4d6149;
    font-family:'Barlow', sans-serif;
    font-size: 24px;
}
#contact h3{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 100px 0 100px 0;
    text-align: center;
}

#contact h4{
    font-size:24px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    max-height: 29px;
    max-width: 28px;
    padding-right: 54px;
}

#contact p{
    margin:0;
}

